@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');
/* body {
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    background-size: 700px auto;
    background-position: calc(50% - 350px) center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
} */
body {
    overflow-y: auto!important;
}
.container {
    background: #fff;
    width: 60%;
    margin: auto;
    /* height: 100%; */
}
.auth-wrapper {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    /* box-shadow: 0px 10px 50px 0px #00000014; */
    padding: 15px 30px;
    margin-top: 4rem;
    /* height: 490px; */
}
.auth-wrapper img {
    width: 215px;
}
.floating {
    position: relative;
    height: 55px;
}
label {
    font-weight: 600;
}
.floating label {
    color: #000a2e;
    font-size: 14px;
    z-index: 0;
    position: absolute;
    top: 15px;
    left: 10px;
    transform: translate3d(0, 0, 0);
    transition: all 0.2s ease-in-out;
}
.form-control {
    transition: all .3s;
    border-radius: 4px;
    height: 48px;
    border: 1px solid rgb(225, 225, 225);
    font-size: 14px;
    font-weight: 500;
    width: 100%;
    background: transparent;
    padding: 0 16px;
}
/* .floating input:focus {
    padding-top: 20px;
    box-shadow: none;
} */
.floating input:focus + label {
    font-size: 12px;
    color: rgba(0, 10, 46, 0.8);
    transform: translate3d(0, -10px, 0);
    top: 12px;
}
.backtologin {
    color: #979ea3;
    font-size: 14px;
    font-weight: 600;
}
.backtologin:hover {
    color: #82898f;
    text-decoration: none;
}
.btn.btn-primary {
    border: none;
    border-radius: 3px;
    box-shadow: 0px 5px 15px 0px #00000026;
    background-color: #4786ff;
    font-size: 13px;
    font-weight: 700;
    padding: 10px 20px;
    text-transform: uppercase;
}
.btn.btn-primary:hover {
    background: #fe8114;
}
.btn.btn-primary.btn-create {
    background: #262626;
    box-shadow: 0px 5px 15px 0px #26262652;
    width: 100%;
}
.divider hr {
    border: 1px dashed #e0e2e5;
}
.divider p {
    margin: 0px 11px;
    color: #78828a;
    font-size: 14px;
    background: #fff;
    display: inline-block;
    padding: 0 10px;
    position: relative;
    top: -30px;
}


@media screen and (max-width: 768px) {
    .auth-wrapper {
        height: auto;
    }
}


@media screen and (max-width: 991px) {
    .container {
        width: 90%;
        max-width: 90%;
    }
}

.auth-wrapper img {
  width: 136px;
}


.floating label {
    color: #000a2e;
    font-size: 14px;
    z-index: 0;
    position: absolute;
    top: 9px;
    left: 10px;
    transform: translate3d(0, 0, 0);
    transition: all 0.2s ease-in-out;
}


.auth-wrapper img {
    width: 190px;
}
.agree {
    font-size: 13px;
    color: #000;
    text-align: left;
    font-weight: normal;
}
.eye {
    cursor: pointer;
    position: absolute;
    z-index: 1;
    right: 10px;
    bottom: 5px;
}
.form-wrapper {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 1rem 3rem;
    margin-bottom: 5rem;
}
.auth-form {
    min-width: 320px;
    max-width: 500px;
    width: 100%;
    margin: auto;
}
.forget a,
.form-group span a,
.agree a {
  color: rgb(255, 87, 34);
}
.risk-taking {
    margin-top: 32px;
    margin-bottom: 22px;
    padding: 16px;
    border: 1px solid rgb(225, 225, 225);
    border-radius: 4px;
  }
  .risk-taking span,
  .exclusive {
    color: rgb(155, 155, 155);
    font-size: 12px;
  }
  .risk-taking div {
    margin-top: -25px;
    text-align: left;
    width: 90%;
  }
  .risk-taking p {
    color: rgb(74, 74, 74);
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-flex;
    background: #fff;
    padding: 5px 10px;
    position: relative;
    top: -30px;
  }
  
  .container-form hr {
    padding-top: 20px;
    border-top: 1px solid rgb(244, 244, 249);
  }
  .w-75 {
    width: 75%;
  }
.auth-header {
    height: 4rem;
    box-shadow: 0 4px 10px rgb(0 0 0 / 10%);
    background: #fff;
}
.auth-header img {
    width: 100px;
}
form .btn.btn-primary:hover,
header .btn.btn-primary:hover {
    background: #4786ff!important;
}